@import "tailwindcss";

@font-face {
  font-family: "SUSE Mono";
  src: url('./assets/SUSEMono.ttf') format('truetype');
}
@font-face {
  font-family: "SUSE Mono";
  src: url('./assets/SUSEMono-Italic.ttf') format('truetype');
  font-style: italic;
}

@theme {
  --color-background: var(--color-zinc-900);
  --color-foreground: var(--color-zinc-100);
  --color-primary: var(--color-pink-500);
  --color-primary-highlight: var(--color-pink-300);
  --color-secondary: var(--color-orange-400);
  --default-ring-width: 2px;
  --default-ring-color: var(--color-pink-500);
  --font-mono: "SUSE Mono", mono;
}

html {
  font-size: 20px;
}

#root {
  height: 100vh;
  width: 100%;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply text-foreground bg-background;
}
@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    @apply text-background bg-foreground;
  }
}

a {
  font-weight: 500;
  text-decoration: inherit;
  @apply text-primary hover:text-primary-highlight;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  @apply font-mono;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  @apply text-primary-highlight;
}
h3 {
  font-size: 1.5rem;
  @apply font-bold;
}
h4 {
  font-size: 1.2rem;
  @apply font-medium text-zinc-400;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.8rem;
}

input, select, textarea {
  @apply bg-zinc-900;
}

label > div {
  @apply text-zinc-400;
}

th, td {
  @apply px-4 py-2 text-left;
}